section,body,html{
    margin: 0;
    padding: 0;
}
.temp-data{
    min-height: 100vh;
    background: url(./static/xyz.png)no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
    display: flex;
    
}
h1{
    color: white;
    text-align: center;
}

.icon{
    height:200px;
    width: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: 30%;
}
.root{
    margin:0;
    padding: 0;
}

.Dark{
    width: 30%;
    margin:0 auto;
}

canvas{
    display:  flex;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: 20%!important;

}

